<!DOCTYPE html>
<html lang="en" class="gr__s3-ap-northeast-1_amazonaws_com">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0">
    <meta name="google" content="notranslate" />

    <title>注文確認ページ：Amazon Payデモサイト</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/shop-confirmation.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<body data-gr-c-s-loaded="true">

<!-- Page Content -->
<div class="container">

    <div class="row">
    <%= response %>
    <%= response['chargeId'] %>

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h3 class="my-4">ご注文を承りました。</h3>
            ご注文ありがとうございました。<br/>
            ※ こちらはAmazon Pay V2のデモサイトのため、課金および実際の発送はございません。<br>
            <a href="/cart">カートページに戻る</a><br>
        </div>

        <div>
            <a id="refundButton" href="#" class="btn btn-info btn-lg btn-block">
                返　金
            </a>

            <a id="verifyButton" href="#" class="btn btn-info btn-lg btn-block">
                かくにいいいいいいいん
            </a>
        </div>
    </div>

</div>

<script type="text/javascript" src="https://static-fe.payments-amazon.com/checkout.js"></script>
<script type="text/javascript" charset="utf-8">
    //-------------
    // 返金
    //-------------
    document.getElementById("refundButton").addEventListener('click', (e) => {
        $.ajax({
            type: 'POST',
            url: '/refunds',
            data: {'charge_id': '<%= response['chargeId'] %>'}
        })
        .then(
            function(response, error) { //success
                console.log('response',response)
                console.log('error',error)
            },
            // errorって引数取れる？
            // function() { //failure
            function(error, res) { //failure
                window.alert('error')
                console.log('error', error)
                console.log('res', res)
            }
        );
    });

    //-------------
    // 返金の確認
    //-------------
    document.getElementById("verifyButton").addEventListener('click', (e) => {
        $.ajax({
            type: 'GET',
            url: '/verify',
            data: {'refund_id': '<%= response['refund_id'] ? response['refund_id'] : '' %>'}
        })
        .then(
            function(response, error) { //success
                console.log('response',response)
                console.log('error',error)
            },
            function(error, res) { //failure
                console.log('error', error)
            }
        );
    });

</script>

<!-- /.container -->
</body>

</html>